name: Go

on:
  push:
    branches: [master]
    tags: ['v*']
  pull_request:
    branches: ['*']

permissions:
  contents: read

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.21
          cache-dependency-path: '**/go.sum'

      - name: Download Dependencies
        run: go mod download

      - name: Test
        run: make cover

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        name: Check out repository
      - uses: actions/setup-go@v4
        name: Set up Go
        with:
          go-version: 1.21.x
          cache: false  # managed by golangci-lint

      - uses: golangci/golangci-lint-action@v3
        name: Install golangci-lint
        with:
          version: latest
          args: --version  # make lint will run the linter

      - run: make lint
        name: Lint